extends views/layout.pug

block content
    .container.case-modules
        .case-module-1.case-module
            .line1.line
                .text-wrapper
                    .text-small
                        .placement Местоположение: Алтайский край
                        .year Год проекта: 2019

                    .title Сельский дом культуры

                .backgrounded-img
                    .slider-wrapper#slick-1
                        .slider.slider-for
                            .slide(style='background-image:url(../media/case-1.png);')
                            .slide(style='background-image:url(../media/case-1.png);')
                            .slide(style='background-image:url(../media/case-1.png);')
            .line2.line
                .text Барнхаус как клуб-сарай При реконструкции решено сохранить планировочную структуру от советских архитекторов и облачить здание в новую форму:
                    ul.marked-list
                        li Плоскую кровлю превратить в скатную фальцевую без свесов;
                        li Фронтальную стену заменить сплошным витражом, зашить металлической рейкой фасады;
                        li Выкрасить фасады и кровлю в стильный темно-серый, расставить акценты на входных группах и витражах контрастным жёлтым.
                .line-inner
                    .text В планировочной структуре здания на первом этаже расположен зрительный зал на 244 места и подсобные помещения. На первом этаже перед зрительным залом отведено место для устройства дискотек — приглушённый интерьер в плане отделки позволяет в вечернее время добиться частности, а днем за счёт витража интерьер остается светлым и отрытым.
                    .slider-wrapper-small
                        .slider
                            .slider-nav
                                div(style='background-image:url(../media/case-2.png);')
                                div(style='background-image:url(../media/case-2.png);')
                                div(style='background-image:url(../media/case-2.png);')
                            .progress-wrapper
                                .numStart 01
                                .slider-progress
                                    .progress
                                .numEnd 02
        
        .case-module-2.case-module
            .backgrounded-img(style='background-image:url(../media/case-3.png')

        .case-module-3.case-module
            .col1
                .title помещения пронизаны светом
                .text
                    p Задача организации, в особенности же рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.
                    p Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям каждого.

            .col2
                .hint
                    p Задача организации, в особенности же рамки и место обучения
                .hint
                    p Задача организации, в особенности же рамки и место обучения
                .hint
                    p Задача организации, в особенности же рамки и место обучения

        .case-module-4.case-module
            .backgrounded-img(style='background-image:url(../media/case-4.png')
                .wrapper
                    .title  лаконичный барнхаус
                    p Задача организации, в особенности же рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.
                    p Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям каждого.


        .case-module-5.case-module
            .line1
                .wrapper
                    .text Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям каждого.
                .wrapper
                    .backgrounded-img.vertical-img(style='background-image:url(../media/case-5.png')
                        .number 01
                .wrapper
                    .backgrounded-img.horizontal-img(style='background-image:url(../media/case-6.png')
                        .number 03
            .line2
                .wrapper
                    .backgrounded-img.horizontal-img(style='background-image:url(../media/case-7.png')
                        .number 02
                .wrapper
                    .text Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям каждого.
            
        .case-module-6.case-module
            .line1
                .title Сельский дом культуры
                .text
                    p Задача организации, в особенности же рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.
                    p Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям каждого.

            .line2
                .backgrounded-img(style='background-image:url(../media/case-3.png')

        .case-module-7.case-module
            .col1
                .title Сельский дом культуры
                .text
                    p Задача организации, в особенности же рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.
                    p Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям каждого.
                .plan-open посмотреть план
            .col2
                .backgrounded-img(style='background-image:url(../media/case-3.png') 

        .case-module-last.case-module
            .slide4-container
                .slide4-content
                    div.SelectAnimationLeftTranslateX
                        .slide4-title Давайте обсудим ваш&nbsp;проект!
                    div.SelectAnimationOpacity
                        .slide4-text Мы готовы ответить на&nbsp;все Ваши вопросы о&nbsp;проектировании, реконструкции зданий и&nbsp;перепланировке помещений! Оставьте номер телефона ниже, и&nbsp;наш специалист свяжется с&nbsp;вами!

                    .slide4-contacts
                        .slide4-contacts-text
                            .slide4-contacts-text-title адрес:
                            .slide4-contacts-text-contact г.&nbsp;Новосибирск, ул.&nbsp;Максима&nbsp;Горького&nbsp;54, 3&nbsp;этаж, офис&nbsp;207
                            .slide4-contacts-text-title ТЕЛЕФОН:
                            .slide4-contacts-text-contact 
                                a(href="tel: +79992424455") +7 (999) 242 44 55
                            .slide4-contacts-text-contact 
                                a(href="tel: +79233334598") +7 (923) 333 45 98
                            .slide4-contacts-text-title почта:
                            .slide4-contacts-text-contact 
                                a(href="mailto: FORMATARCHITECTS@GMAIL.COM") FORMATARCHITECTS@GMAIL.COM
                        .slide4-contacts-form
                            form(action="")
                                label
                                    input(type="text", name="customer_name", value="")
                                    span Ваше имя
                                label
                                    input(type="text", name="org_name", value="")
                                    span Название организации
                                label 
                                    input(type="text", name="phone", value="").js-phone-mask
                                    span Номер телефона
                                label
                                    input(type="text", name="message", value="")
                                    span Напишите ваше сообщение
                                input(type='submit', value='отправить')

                .slide4-img
                    .backgrounded-img(style='background-image:url(../media/case-8.png')

                .copyrights
                    a(href="#") Задизайнено в 
                        span komnate
                    a(href="#") Политика сайта
            