extends views/layout.pug

block content
    .container 
        .first-screen#fullpage
            .slide1.mainpage-slide.section
                .line1.line
                    div.SelectAnimationLeftTranslateX
                        h1.minpage-slide-title Смена
                    div.SelectAnimationBefore
                        .backgrounded-img.slide1-img1(style='background-image:url(../media/case2.png')
                    div.SelectAnimationOpacity
                        h4.minpage-slide-text-big За нас говорят объекты 
                
                .line2.line
                    div.SelectAnimationLeftTranslateY
                        h1.minpage-slide-title Парадигмы

                .line3.line 
                    div.SelectAnimationOpacity
                        p.minpage-slide-text-small Если вы еще не знаете, какой нужен бюджет для проекта, то просто закажите эксперта
                    div.SelectAnimationLeftTranslateX
                        h1.minpage-slide-title-smooth в дизайне

                .line4.line
                    .text
                        div.SelectAnimationOpacity
                            h5.minpage-slide-text-big Мы — архитектурное бюро в&nbsp;новосибирске
                        div.SelectAnimationOpacity
                            h6.minpage-slide-text-medium , деятельность которого направлена на качественное улучшение городской среды. Мы восстанавливаем, формируем и воспитываем культуру проектирования. 

                .last-case
                    a(href="somewhere") 
                        div.SelectAnimationLeftTranslateY
                            p Последний кейс бюро
                        div.SelectAnimationBefore
                            .backgrounded-img.slide1-img2(style='background-image:url(../media/case3.png')
                                .img-text
                                    .img-text-title новосибирск мега 2020
                                    .img-text-year
                                        span 2
                                        span 0
                                        span 1
                                        span 9
            
            .slide2.mainpage-slide.section
                .slide2-img
                    div.SelectAnimationBefore
                        p Команда Format Architect
                        .backgrounded-img.slide2-img1(style='background-image:url(../media/slide2.png')
                .line1.line
                    div.SelectAnimationOpacity
                        p.minpage-slide-text-small Проектная организация «Формат Проект» основана в Новосибирске в 2010 году. Мы оказываем комплекс услуг по разработке проектной документации в сфере гражданского и промышленного строительства.
                    div.SelectAnimationOpacity
                        p.minpage-slide-text-small Проектируем жилые дома и общественные здания, производственные сооружения и предприятия, многофункциональные комплексы.
                    div.SelectAnimationOpacity
                        p.minpage-slide-text-small За время работы мы выполнили более 500 проектов. Среди наших партнеров: ИКЕА, ТЦ «Аура», Ertle Stroy, Альфа Ритейл Компани, ГК «Конквест», санаторий «Родник Алтая», медицинская компания «Инвитро».

                .line2.line
                    div.SelectAnimationLeftTranslateY
                        h1.minpage-slide-title продуманность

                    div.SelectAnimationLeftTranslateY
                        h1.minpage-slide-title-smooth решений

            .slide3.mainpage-slide.section
                .line1.line.SelectAnimationLeftTranslateY
                    h1.minpage-slide-title простое

                .line2.line.SelectAnimationLeftTranslateY
                    h1.minpage-slide-title-smooth и сложное

                .line3.line.SelectAnimationOpacity
                    p.minpage-slide-text-small Мы думаем, как без лишних затрат соединить эффектный образ и удобство при эксплуатации. Мы думаем, какой будет вид из окна каждой комнаты и как тень в полдень ляжет на террасу Вашего коттеджа.
                    p.minpage-slide-text-small Мы заботимся, чтобы видя плачущего прораба, Вы всегда были уверены, что это не Ваш работник, потому что документация по Вашему проекту выполнена профессионалами.

                    p.mobile.minpage-slide-text-small Мы любим сложные задачи, а также поможем и с простыми. Нам интересно проектировать завод или театр, квартиру, коттедж или офис.
                    p.mobile.minpage-slide-text-small Принципы нашей работы: продуманность решений и внимание к деталям. В нашей команде архитекторы, инженеры и конструкторы, дизайнеры с большим опытом работы. Мы делаем проекты «под ключ» точно к назначенной дате.
                    p.mobile.minpage-slide-text-small Мы готовы ответить на все Ваши вопросы о проектировании, реконструкции зданий и перепланировке помещений!

                .slide3-img
                    a(href="somewhere")
                        div.SelectAnimationBefore
                            p Последний кейс бюро
                            .backgrounded-img.slide3-img1(style='background-image:url(../media/case3.png')

                .line4.line
                    .text-column.SelectAnimationOpacity
                        p.minpage-slide-text-small Мы любим сложные задачи, а также поможем и с простыми. Нам интересно проектировать завод или театр, квартиру, коттедж или офис.
                        p.minpage-slide-text-small Принципы нашей работы: продуманность решений и внимание к деталям. В нашей команде архитекторы, инженеры и конструкторы, дизайнеры с большим опытом работы. Мы делаем проекты «под ключ» точно к назначенной дате.

                        p.mobile.minpage-slide-text-small Мы думаем, как без лишних затрат соединить эффектный образ и удобство при эксплуатации. Мы думаем, какой будет вид из окна каждой комнаты и как тень в полдень ляжет на террасу Вашего коттеджа.
                        p.mobile.minpage-slide-text-small Мы заботимся, чтобы видя плачущего прораба, Вы всегда были уверены, что это не Ваш работник, потому что документация по Вашему проекту выполнена профессионалами.

                    .inst-line
                        .elements-wrapper 
                            div.SelectAnimationBefore
                                .inst-element.backgrounded-img(style='background-image:url(../media/case3.png')
                            div.SelectAnimationBefore
                                .inst-element.backgrounded-img(style='background-image:url(../media/case3.png')
                            div.SelectAnimationBefore
                                .inst-element.backgrounded-img(style='background-image:url(../media/case3.png')
                            div.SelectAnimationBefore
                                .inst-element.backgrounded-img(style='background-image:url(../media/case3.png')

                        .overlay-text @forma_top @forma_top @forma_top @forma_top

            .slide4.mainpage-slide.section
                .slide4-container
                    .slide4-content
                        div.SelectAnimationLeftTranslateX
                            .slide4-title Давайте обсудим ваш&nbsp;проект!
                        div.SelectAnimationOpacity
                            .slide4-text Мы готовы ответить на&nbsp;все Ваши вопросы о&nbsp;проектировании, реконструкции зданий и&nbsp;перепланировке помещений! Оставьте номер телефона ниже, и&nbsp;наш специалист свяжется с&nbsp;вами!

                        .slide4-contacts
                            .slide4-contacts-text.SelectAnimationOpacity
                                .slide4-contacts-text-title адрес:
                                .slide4-contacts-text-contact г.&nbsp;Новосибирск, ул.&nbsp;Максима&nbsp;Горького&nbsp;54, 3&nbsp;этаж, офис&nbsp;207
                                .slide4-contacts-text-title ТЕЛЕФОН:
                                .slide4-contacts-text-contact +7 (999) 242 44 55
                                .slide4-contacts-text-contact +7 (923) 333 45 98
                                .slide4-contacts-text-title почта:
                                .slide4-contacts-text-contact FORMATARCHITECTS@GMAIL.COM
                            .slide4-contacts-form
                                form(action="").SelectAnimationLeftTranslateY
                                    label.SelectAnimationLeftTranslateY
                                        input(type="text", name="customer_name", value="")
                                        span Ваше имя
                                    label.SelectAnimationLeftTranslateY
                                        input(type="text", name="org_name", value="")
                                        span Название организации
                                    label.SelectAnimationLeftTranslateY
                                        input(type="text", name="phone", value="")
                                        span +7 (___) ___ __ __
                                    label.SelectAnimationLeftTranslateY
                                        input(type="text", name="message", value="")
                                        span Напишите ваше сообщение
                                    input(type='submit', value='отправить')

                    .slide4-map.backgrounded-img
                        .map#map.SelectAnimationBefore

                    .copyrights.SelectAnimationLeftTranslateY
                        a(href="#") Задизайнено в 
                            span komnate
                        a(href="#") Политика сайта

                    .overlay-text.SelectAnimationOpacity
                        span формат проект формат проектформат проект формат проект
            
        .slider-controls
            .element-wrapper
                .slider-controls-element
            .element-wrapper
                .slider-controls-element
            .element-wrapper
                .slider-controls-element
            .element-wrapper
                .slider-controls-element
                            

