extends views/layout.pug

block content
    .container
        .first-screen#fullpage
            .slide1.mainpage-slide.section
                .line1.line
                    div.SelectAnimationLeftTranslateX
                        h1.minpage-slide-title Смена
                    div.SelectAnimationBefore.imgScrollOverfloyClassCont
                        .backgrounded-img.slide1-img1#pageImgOne(style='background-image:url(../media/1-1.png', onmouseover="ChangeOver(this)", onmouseout="ChangeOverOut(this)")
                    div.SelectAnimationOpacity.text-change(style="position: relative")
                        h4.minpage-slide-text-big#progectHoverTwo За&nbsp;нас&nbsp;говорят объекты
                        h4.minpage-slide-text-big.active_HoverOut#progectHover новосибирск&nbsp;мега 2020

                .line2.line
                    div.SelectAnimationLeftTranslateY
                        h1.minpage-slide-title Парадигмы

                .line3.line
                    div.SelectAnimationOpacity
                        .text-wrapper
                            p.minpage-slide-text-small Если вы&nbsp;еще не&nbsp;знаете, какой нужен бюджет для&nbsp;проекта, то&nbsp;просто
                                a(href="#fourthPage", style="color: #009E4F;")  закажите эксперта
                    div.SelectAnimationLeftTranslateX
                        h1.minpage-slide-title-smooth в&nbsp;дизайне

                .line4.line
                    .text
                        div.SelectAnimationOpacity
                            h5.minpage-slide-text-big Мы — архитектурное бюро в&nbsp;новосибирске,
                        div.SelectAnimationOpacity
                            h6.minpage-slide-text-medium деятельность которого направлена на&nbsp;качественное улучшение городской среды. Мы&nbsp;восстанавливаем, формируем и&nbsp;воспитываем культуру проектирования.

                .last-case
                    a(href="case.html")
                        div.SelectAnimationLeftTranslateY
                            p Последний кейс бюро
                        div.SelectAnimationBefore.imgSizeOverfloyClassCont
                            .backgrounded-img.slide1-img2#pageImgTwo(style='background-image:url(../media/1-2.png', , onmouseover="ChangeOver2(this)", onmouseout="ChangeOverOut2(this)")
                                .img-text
                                    .img-text-title новосибирск мега 2020
                                    .img-text-year
                                        span 2
                                        span 0
                                        span 1
                                        span 9

            .slide2.mainpage-slide.section
                .slide2-img
                    div.SelectAnimationBefore.imgSizeOverfloyClassCont
                        p Команда Format Architect
                        .backgrounded-img.slide2-img1(style='background-image:url(../media/2-1.png')
                .line1.line
                    div.SelectAnimationOpacity
                        p.minpage-slide-text-small Проектная организация «Формат Проект» основана в&nbsp;Новосибирске в&nbsp;2010 году. Мы&nbsp;оказываем комплекс услуг по&nbsp;разработке проектной документации в&nbsp;сфере гражданского и&nbsp;промышленного строительства.
                    div.SelectAnimationOpacity
                        p.minpage-slide-text-small Проектируем жилые дома и&nbsp;общественные здания, производственные сооружения и&nbsp;предприятия, многофункциональные комплексы.
                    div.SelectAnimationOpacity
                        p.minpage-slide-text-small За&nbsp;время работы мы&nbsp;выполнили более 500 проектов. Среди наших партнеров: ИКЕА, ТЦ&nbsp;«Аура», Ertle Stroy, Альфа Ритейл Компани, ГК&nbsp;«Конквест», санаторий «Родник Алтая», медицинская компания «Инвитро».

                .line2.line
                    div.SelectAnimationLeftTranslateY
                        .text-wrapper
                            h1.minpage-slide-title продуманность

                    div.SelectAnimationLeftTranslateY
                        .text-wrapper
                            h1.minpage-slide-title-smooth решений

            .slide3.mainpage-slide.section
                .line1.line.SelectAnimationLeftTranslateY
                    h1.minpage-slide-title простое

                .line2.line.SelectAnimationLeftTranslateY
                    h1.minpage-slide-title-smooth и&nbsp;сложное

                .line3.line.SelectAnimationOpacity
                    .for-lines
                        p.minpage-slide-text-small Мы&nbsp;думаем, как&nbsp;без&nbsp;лишних затрат соединить эффектный образ и&nbsp;удобство при&nbsp;эксплуатации. Мы&nbsp;думаем, какой будет вид из&nbsp;окна каждой комнаты и&nbsp;как&nbsp;тень в&nbsp;полдень ляжет на&nbsp;террасу Вашего коттеджа.
                    .for-lines
                        p.minpage-slide-text-small Мы&nbsp;заботимся, чтобы&nbsp;видя плачущего прораба, Вы&nbsp;всегда были уверены, что&nbsp;это не&nbsp;Ваш работник, потому&nbsp;что документация по&nbsp;Вашему проекту выполнена профессионалами.

                    p.mobile.minpage-slide-text-small Мы&nbsp;любим сложные задачи, а&nbsp;также поможем и&nbsp;с&nbsp;простыми. Нам&nbsp;интересно проектировать завод или театр, квартиру, коттедж или&nbsp;офис.
                    p.mobile.minpage-slide-text-small Принципы нашей работы: продуманность решений и&nbsp;внимание к&nbsp;деталям. В&nbsp;нашей команде архитекторы, инженеры и&nbsp;конструкторы, дизайнеры с&nbsp;большим опытом работы. Мы&nbsp;делаем проекты «под&nbsp;ключ» точно к&nbsp;назначенной дате.
                    p.mobile.minpage-slide-text-small Мы&nbsp;готовы ответить на&nbsp;все Ваши вопросы о&nbsp;проектировании, реконструкции зданий и&nbsp;перепланировке помещений!

                .slide3-img
                    a(href="case.html")
                        div.SelectAnimationBefore.imgSizeOverfloyClassCont
                            div.SelectAnimationOpacity
                                p Директор: Дерябина Марина Александровна
                            .backgrounded-img.slide3-img1(style='background-image:url(../media/3-1.png')

                .line4.line
                    .text-column.SelectAnimationOpacity
                        .for-lines
                            p.minpage-slide-text-small Мы&nbsp;любим сложные задачи, а&nbsp;также поможем и&nbsp;с&nbsp;простыми. Нам&nbsp;интересно проектировать завод или&nbsp;театр, квартиру, коттедж или&nbsp;офис.
                            p.minpage-slide-text-small Принципы нашей работы: продуманность решений и&nbsp;внимание к&nbsp;деталям. В&nbsp;нашей команде архитекторы, инженеры и&nbsp;конструкторы, дизайнеры с&nbsp;большим опытом работы. Мы&nbsp;делаем проекты «под ключ» точно к&nbsp;назначенной дате.

                        p.mobile.minpage-slide-text-small Мы&nbsp;думаем, как&nbsp;без&nbsp;лишних затрат соединить эффектный образ и&nbsp;удобство при&nbsp;эксплуатации. Мы&nbsp;думаем, какой будет вид из&nbsp;окна каждой комнаты и&nbsp;как тень в&nbsp;полдень ляжет на&nbsp;террасу Вашего коттеджа.
                        p.mobile.minpage-slide-text-small Мы&nbsp;заботимся, чтобы видя плачущего прораба, Вы&nbsp;всегда были уверены, что&nbsp;это не&nbsp;Ваш&nbsp;работник, потому&nbsp;что документация по&nbsp;Вашему проекту выполнена профессионалами.

                    .inst-line
                        a(href="https://www.instagram.com/format_architects/?igshid=5y9xtcg1zpra", target="_blank").elements-wrapper
                            div.SelectAnimationBefore
                                .inst-element.backgrounded-img(style='background-image:url(../media/inst1.png')
                            div.SelectAnimationBefore
                                .inst-element.backgrounded-img(style='background-image:url(../media/inst2.png')
                            div.SelectAnimationBefore
                                .inst-element.backgrounded-img(style='background-image:url(../media/inst3.png')
                            div.SelectAnimationBefore
                                .inst-element.backgrounded-img(style='background-image:url(../media/inst4.png')

                        .overlay-text
                            marquee(loop='99') @forma_top @forma_top @forma_top @forma_top @forma_top @forma_top @forma_top @forma_top @forma_top @forma_top @forma_top @forma_top @forma_top @forma_top @forma_top @forma_top

            .slide4.mainpage-slide.section
                .slide4-container
                    .slide4-content
                        div.SelectAnimationLeftTranslateX
                            .slide4-title Давайте обсудим ваш&nbsp;проект!
                        div.SelectAnimationOpacity
                            .slide4-text Мы&nbsp;готовы ответить на&nbsp;все Ваши вопросы о&nbsp;проектировании, реконструкции зданий и&nbsp;перепланировке помещений! Оставьте номер телефона ниже, и&nbsp;наш специалист свяжется с&nbsp;вами!

                        .slide4-contacts
                            .slide4-contacts-text.SelectAnimationOpacity
                                .slide4-contacts-text-title адрес:
                                .slide4-contacts-text-contact г.&nbsp;Новосибирск, ул.&nbsp;Максима&nbsp;Горького&nbsp;54, 3&nbsp;этаж, офис&nbsp;207
                                .slide4-contacts-text-title ТЕЛЕФОН:
                                .slide4-contacts-text-contact
                                    a(href="tel: +79992424455") +7&nbsp;(999)&nbsp;242&nbsp;44&nbsp;55
                                .slide4-contacts-text-contact
                                    a(href="tel: +79233334598") +7&nbsp;(923)&nbsp;333&nbsp;45&nbsp;98
                                .slide4-contacts-text-title почта:
                                .slide4-contacts-text-contact
                                    a(href="mailto: FORMATARCHITECTS@GMAIL.COM") FORMATARCHITECTS@GMAIL.COM
                            .slide4-contacts-form
                                form(action="").SelectAnimationLeftTranslateY
                                    label.SelectAnimationLeftTranslateY
                                        input(type="text", name="customer_name", value="")
                                        span Ваше имя
                                    label.SelectAnimationLeftTranslateY
                                        input(type="text", name="org_name", value="")
                                        span Название организации
                                    label.SelectAnimationLeftTranslateY
                                        input(type="text", name="phone", value="").js-phone-mask
                                        span Номер телефона
                                    label.SelectAnimationLeftTranslateY
                                        input(type="text", name="message", value="")
                                        span Напишите ваше сообщение
                                    a(type='submit' href="#") отправить

                    .slide4-map.backgrounded-img
                        .map#map.SelectAnimationBefore

                    .copyrights.SelectAnimationLeftTranslateY
                        a(href="https://komnata.agency/ru") Задизайнено&nbsp;в&nbsp
                            span komnate
                        a(href="#") Политика&nbsp;сайта

        .slider-controls#myMenu
            .element-wrapper.active(data-menuanchor="firstPage")
                a.slider-controls-element.controls(href="#firstPage")
            .element-wrapper(data-menuanchor="secondPage")
                a.slider-controls-element.controls(href="#secondPage")
            .element-wrapper(data-menuanchor="thirdPage")
                a.slider-controls-element.controls(href="#thirdPage")
            .element-wrapper(data-menuanchor="fourthPage")
                a.slider-controls-element.controls(href="#fourthPage")

