extends views/layout.pug

block content
    .main.container
        .main__pageProgect
            .main__pageProgect--block
                .main__pageProgect--block__item
                    .main__pageProgect--block__item--img(style='background-image:url(../media/slide2.png)')
                    h2 СЕЛЬСКИЙ ДОМ КУЛЬТУРЫ
                .main__pageProgect--block__item
                    .main__pageProgect--block__item--img(style='background-image:url(../media/slide2.png)')
                    h2 СЕЛЬСКИЙ ДОМ КУЛЬТУРЫ
                .main__pageProgect--block__item
                    .main__pageProgect--block__item--img(style='background-image:url(../media/slide2.png)')
                    h2 СЕЛЬСКИЙ ДОМ КУЛЬТУРЫ
                .main__pageProgect--block__item
                    .main__pageProgect--block__item--img(style='background-image:url(../media/slide2.png)')
                    h2 СЕЛЬСКИЙ ДОМ КУЛЬТУРЫ
                .main__pageProgect--block__item
                    .main__pageProgect--block__item--img(style='background-image:url(../media/slide2.png)')
                    h2 СЕЛЬСКИЙ ДОМ КУЛЬТУРЫ
                .main__pageProgect--block__item
                    .main__pageProgect--block__item--img(style='background-image:url(../media/slide2.png)')
                    h2 СЕЛЬСКИЙ ДОМ КУЛЬТУРЫ