extends views/layout_progects.pug

block content
    .main.container
        .main__pageProgect#container(style="width: 100vw; height: 100vh; overflow: auto;")
            .main__pageProgect--block
                .main__pageProgect--block__item#select1(style='background-image:url(../media/progect/3.png)')
                    a(href="case.html")
                        .main__pageProgect--block__item--img
                            div
                                h2 СЕЛЬСКИЙ ДОМ КУЛЬТУРЫ
                .main__pageProgect--block__item#select2(style='background-image:url(../media/progect/2.png)')
                    a(href="case.html")
                        .main__pageProgect--block__item--img
                            div
                                h2 СЕЛЬСКИЙ ДОМ КУЛЬТУРЫ
                .main__pageProgect--block__item#select3(style='background-image:url(../media/progect/3.png)')
                    a(href="case.html")
                        .main__pageProgect--block__item--img
                            div
                                h2 СЕЛЬСКИЙ ДОМ КУЛЬТУРЫ
                .main__pageProgect--block__item#select4(style='background-image:url(../media/progect/2.png)')
                    a(href="case.html")
                        .main__pageProgect--block__item--img
                            div
                                h2 СЕЛЬСКИЙ ДОМ КУЛЬТУРЫ
                .main__pageProgect--block__item#select5(style='background-image:url(../media/progect/3.png)')
                    a(href="case.html")
                        .main__pageProgect--block__item--img
                            div
                                h2 СЕЛЬСКИЙ ДОМ КУЛЬТУРЫ
                .main__pageProgect--block__item#select6(style='background-image:url(../media/progect/2.png)')
                    a(href="case.html")
                        .main__pageProgect--block__item--img
                            div
                                h2 СЕЛЬСКИЙ ДОМ КУЛЬТУРЫ
                .main__pageProgect--block__item#select7(style='background-image:url(../media/progect/3.png)')
                    a(href="case.html")
                        .main__pageProgect--block__item--img
                            div
                                h2 СЕЛЬСКИЙ ДОМ КУЛЬТУРЫ
                .main__pageProgect--block__item#select8(style='background-image:url(../media/progect/2.png)')
                    a(href="case.html")
                        .main__pageProgect--block__item--img
                            div
                                h2 СЕЛЬСКИЙ ДОМ КУЛЬТУРЫ