extends views/layout.pug

block content
    .main.container.pageFlex
        .main__pagePages
            .main__pagePages--header
                .main__pagePages--header__prew
                    a(href="#")
                        span ОБРАТНО К УСЛУГАМ
                        img(src='../media/prew.png')
                h1 ПРОЕКТ ИНЖЕНЕРНЫХ КОММУНИКАЦИЙ ЗАГОРОДНОГО ДОМА
            .main__pagePages--block
                .main__pagePages--block__item
                    p Задача организации, в особенности же рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.
                    p Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям каждого.
                    p Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также новая модель организационной деятельности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
                .main__pagePages--block__item
                    p Задача организации, в особенности же рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.
                    p Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям каждого.
                    p С другой стороны консультация с широким активом требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс внедрения и модернизации.
        .main__pagePagesImg
            .backgrounded-img(style='background-image:url(../media/coverPage.png')