extends views/layout.pug

block content
    .main.container
        .main__pageUslugi
            .main__pageUslugi--header
                h1 Услуги
            .main__pageUslugi--block
                .main__pageUslugi--block__grid
                    div
                        a(href="#") Архитектурно-строительное проектирование
                        a(href="#") Архитектурное макетирован
                        a(href="#") Архитектурное проектирование зданий
                        a(href="#") Дизайн фасадов
                        a(href="#") Индивидуальное проектирование
                        a(href="#") ДЛандшафтный дизайн-проект
                    div
                        a(href="#") Проект инженерных коммуникаций загородного дома
                        a(href="#") Проект инженерных сетей
                        a(href="#") Проектирование гражданских и промышленных зданий
                        a(href="#") Проектирование коттеджного поселка
                        a(href="#") Проектирование общественных зданий
                        a(href="#") Проектирование промышленных зданий
                        a(href="#") Проектирование систем водоснабжения
                    div
                        a(href="#") Разработка дизайн-проекта
                        a(href="#") Разработка и согласование документации
                        a(href="#") Разработка проектно-технической документации
                        a(href="#") Реконструкция и реставрация зданий
                        a(href="#") Техническая экспертиза здания
                        a(href="#") Эскизный проект
                        a(href="#") 3D визуализация зданий