extends views/layout.pug

block content
    .main.container
        .main__pageUslugi
            .main__pageUslugi--header
                h1 Услуги
            .main__pageUslugi--block
                .main__pageUslugi--block__grid
                    div
                        a(href="usluga.html") Архитектурно-строительное проектирование
                        a(href="usluga.html") Архитектурное макетирован
                        a(href="usluga.html") Архитектурное проектирование зданий
                        a(href="usluga.html") Дизайн фасадов
                        a(href="usluga.html") Индивидуальное проектирование
                        a(href="usluga.html") ДЛандшафтный дизайн-проект
                        a(href="usluga.html") Проект инженерных коммуникаций загородного дома
                        a(href="usluga.html") Проект инженерных сетей
                        a(href="usluga.html") Проектирование гражданских и промышленных зданий
                        a(href="usluga.html") Проектирование коттеджного поселка
                        a(href="usluga.html") Проектирование общественных зданий
                        a(href="usluga.html") Проектирование промышленных зданий
                        a(href="usluga.html") Проектирование систем водоснабжения
                        a(href="#") Разработка дизайн-проекта
                        a(href="#") Разработка и согласование документации
                        a(href="#") Разработка проектно-технической документации
                        a(href="#") Реконструкция и реставрация зданий
                        a(href="#") Техническая экспертиза здания
                        a(href="#") Эскизный проект
                        a(href="#") 3D визуализация зданий