extends views/layout.pug

block content
    .main.container
        .main__pageUslugi
            .main__pageUslugi--header
                h1 Вакансии
            .main__pageUslugi--block
                .main__pageUslugi--block__grid
                    div
                        a(href="vakansia.html") Вакансия 1 Текст заголовка вакансии ...
                        a(href="vakansia.html") Вакансия 2 Текст заголовка вакансии ...
                        a(href="vakansia.html") Вакансия 3 Текст заголовка вакансии ...
                        a(href="vakansia.html") Вакансия 4 Текст заголовка вакансии ...
                        a(href="vakansia.html") Вакансия 5 Текст заголовка вакансии ...
                        a(href="vakansia.html") Вакансия 6 Текст заголовка вакансии ...