extends views/layout.pug

block content
    .main.container.pageFlex
        .main__pagePages
            .main__pagePages--header
                .main__pagePages--header__prew
                    a(href="uslugi.html")
                        span ОБРАТНО К ВАКАНСИЯМ
                        div
                            svg(width='18' height='17' viewbox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M16.9998 8.37432L1.37561 8.37391' stroke='black')
                                path(d='M9 0.999999L1 8.49999L9 16' stroke='black')

                h1 ПРОЕКТ ИНЖЕНЕРНЫХ КОММУНИКАЦИЙ ЗАГОРОДНОГО ДОМА
            .main__pagePages--block
                .main__pagePages--block__item
                    p Задача организации, в особенности же рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.
                    p Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям каждого.
                    p Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также новая модель организационной деятельности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
                .main__pagePages--block__item
                    p Задача организации, в особенности же рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.
                    p Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям каждого.
                    p С другой стороны консультация с широким активом требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс внедрения и модернизации.
        .main__pagePagesImg.animationBefore.imgSizeOverfloyClass
            .backgrounded-img(style='background-image:url(../media/coverPage.png')