doctype html
html
  head
    link(rel="stylesheet", href="index.css")
    link( rel='stylesheet' href='https://rawgit.com/alvarotrigo/fullPage.js/dev/src/fullpage.css')
    meta( name="viewport" content="width=device-width, initial-scale=1")

body
        header
            nav
                a(href="buo.html") Бюро
                a(href="objects.html") Объекты
                a(href="uslugi.html") Услуги
                a(href="vacancy.html") Вакансии
                a(href="contact.html") Контакты

            logo
                svg(width="35" height="31" viewBox="0 0 35 31" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M29.1667 0H23.3333H17.5H11.6667H5.83333V5.16667V10.3333V15.5V20.6667H0V25.8333H5.83333V31H11.6667V25.8333H17.5H23.3333H29.1667H35V20.6667H29.1667H23.3333H17.5H11.6667V15.5V10.3333V5.16667H17.5H23.3333H29.1667V15.5H35V5.16667V0H29.1667Z" fill="#333333")


            .mobile-header-elements 
                a.header-phone(href="tel:+73833478505") 8 (383) 347-85-05
                button.mobile-nav-open.hamburger.hamburger--squeeze 
                    .hamburger-box
                        .hamburger-inner

                        
        block content

        footer
            a(href="tel:+73833478505") 8 (383) 347-85-05
            script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
            script(src='https://rawgit.com/alvarotrigo/fullPage.js/dev/src/fullpage.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.extensions.min.js')
            script(src="https://api-maps.yandex.ru/2.1/?apikey=57b9fd85-811d-45dd-a345-97301192655f&lang=ru_RU" type="text/javascript")
            script(type="text/javascript" src="../js/index.js") 