@import 'reset.scss';
@import 'animation.scss';

@font-face {
    font-family: 'GolosUI';
    src:
            url('../media/fonts/Golos%20UI_Regular.woff2') format('woff2'),
            url('../media/fonts/Golos%20UI_Regular.woff') format('woff'),
            url('../media/fonts/Golos%20UI_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GolosUI';
    src:
            url('../media/fonts/Golos%20UI_Bold.woff2') format('woff2'),
            url('../media/fonts/Golos%20UI_Bold.woff') format('woff'),
            url('../media/fonts/Golos%20UI_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GolosUI';
    src:
            url('../media/fonts/Golos%20UI_Medium.woff2') format('woff2'),
            url('../media/fonts/Golos%20UI_Medium.woff') format('woff'),
            url('../media/fonts/Golos%20UI_Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FormatDisplay';
    src: url('../media/fonts/FormatDisplay.ttf') format('truetype');
    font-style: normal;
}

body {
    min-height: 100vh;
    position: relative;

    font-family: 'GolosUI';
    letter-spacing: -6%;
}

* {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    padding: 30px 45px 0;

    a {
        text-decoration: none;
        font-family: 'GolosUI';
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -4%;
        line-height: 16px;
        text-transform: uppercase;

        transition: color .2s ease;

        color: #000;

        &:hover {
            color: #009E4F;
            font-weight: 700;
        }
    }

    a + a {
        margin-left: 18px;
    }

    .mobile-header-elements {
        display: none;

        .header-phone {
            font-size: 16px;
            margin-right: 22px;
        }
    }
}

a {
    font-family: 'GolosUI';
    color: #000000;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    padding: 0 35px 30px;

    a {
        font-size: 19px;
        line-height: 22px;
        cursor: pointer;
    }
}

.first-screen {
    height: 100vh;
    width: 100%;
    position: relative;
}

.minpage-slide-title {
    font-family: 'FormatDisplay';
    font-size: 160px;
    line-height: 190px;
    font-weight: 400;
    text-transform: lowercase;
}

.minpage-slide-title-smooth {
    font-family: 'GolosUI';
    font-size: 160px;
    line-height: 190px;
    font-weight: 700;
    text-transform: uppercase;
}

.minpage-slide-text-big {
    font-family: 'GolosUI';
    font-size: 28px;
    line-height: 31px;
    font-weight: normal;
    text-transform: uppercase;
    color: #313131;
}

.minpage-slide-text-medium {
    font-family: 'GolosUI';
    font-size: 20px;
    line-height: 22px;
    font-weight: normal;
    color: #313131;
}

.minpage-slide-text-small {
    font-family: 'GolosUI';
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #313131;
}

.line {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.backgrounded-img {
    background-position: center;
    background-size: cover;

    position: relative;
}

.mainpage-slide {
    overflow: hidden;
}

.slide1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    height: 100%;

    .slide1-img1 {
        height: 112px;
        width: 24.4vw;
        margin-right: 25px;

        background-size: 110%;
        background-position: top left;

        transition: 10s background-position linear;

        &:hover {
            background-position: bottom right;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;

                background: #009E4F;
                mix-blend-mode: screen;
                opacity: 0.65;
            }
        }
    }

    .slide1-img2 {
        width: 25vw;
        padding-bottom: 62%;

        background-size: 110%;
        background-position: top left;

        transition: 10s background-position linear;

        &:hover {
            background-position: bottom right;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                mix-blend-mode: screen;
                background: #009E4F;
                opacity: 0.65;
            }
        }
    }

    h1 {
        line-height: 155px;
    }

    .line1 {
        padding-left: 209px;
        margin-bottom: 5px;

        h1 {
            line-height: 95px;
            margin-right: 25px;
        }

        h4 {
            max-width: 280px;
            margin-top: -8px;
        }
    }

    .line2 {
        padding-left: 100px;
        margin-bottom: 5px;
    }

    .line3 {
        padding-left: 216px;

        .minpage-slide-text-small {
            max-width: 220px;
            margin-right: 230px;
            padding-top: 21px;
        }
    }

    .line4 {
        margin-top: 50px;
        .text {
            max-width: 550px;
            margin-left: 674px;
            margin-right: 25vw;

            * {
                display: inline-block;
            }

            h6 {
                text-indent: 246px;
                margin-top: -25px;
            }
        }
    }

    .last-case {
        position: absolute;
        bottom: 0;
        right: 0;


        a {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-decoration: none;

            p {
                font-size: 14px;
                line-height: 22px;
                text-decoration: none;
                color: #000;
                opacity: .5;
                margin-right: 20px;
            }
        }

        img {
            width: 530px;
        }
    }
}

.slide2 {
    height: 100vh;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px 0;

    .slide2-img {
        position: absolute;
        width: 60%;
        top: 0;
        right: 0;
        z-index: -1;

        .slide2-img1 {
            width: 100%;
            padding-bottom: 60%;
        }
    }

    .line1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-right: 50%;

        p {
            max-width: 400px;
            margin-bottom: 20px;

            color: #000;
        }
    }

    .line2, .line3 {
        justify-content: center;
    }
}

.slide3 {
    height: 100vh;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px 0;

    .slide3-img {
        width: 36%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        a {
            text-decoration: none;
            cursor: pointer;
        }

        p {
            font-size: 14px;
            line-height: 22px;
            text-decoration: none;
            color: #000;
            opacity: .5;
            margin-right: 20px;
        }

        .slide3-img1 {
            width: 100%;
            padding-bottom: 60%;
        }
    }

    h1 {
        line-height: 140px;
    }

    .line1 {
        justify-content: center;
    }

    .line2 {
        justify-content: center;
        margin-bottom: 100px;

        h1 {
            margin-left: 588px;
        }
    }

    .line3 {
        justify-content: flex-end;
        margin-bottom: 50px;

        p {
            width: 22%;
            margin-right: 7%;
        }
    }

    .line4 {
        justify-content: flex-end;
    }

    .text-column {
        width: 408px;

        display: flex;
        flex-direction: column;

        p {
            margin-bottom: 20px;
        }
    }

    .inst-line {
        display: flex;
        flex-direction: row;

        .inst-element {
            width: 256px;
            height: 320px;

            margin-left: 50px;

            &:hover {
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    mix-blend-mode: screen;
                    background: #009E4F;
                    opacity: 0.65;
                }
            }
        }
    }
}

.slide4 {
    width: 100%;
    height: 100vh;

    &-container {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    &-content {
        width: 70%;
        height: 100%;
        padding: 160px 15%;
    }

    &-map {
        width: 30%;
        height: 100%;
    }

    &-title {
        font-size: 75px;
        line-height: 65px;
        text-transform: uppercase;
        color: #010101;
        margin-bottom: 30px;
    }

    &-text {
        font-size: 18px;
        line-height: 22px;

        max-width: 475px;
        margin-bottom: 60px;
    }

    &-contacts {
        display: flex;
        flex-direction: row;

        &-text {
            width: 50%;
            padding-right: 15px;

            &-title {
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;

                margin-bottom: 10px;
            }

            &-contact {
                font-size: 16px;
                line-height: 19px;
            }

            &-contact + &-title {
                margin-top: 40px;
            }
        }
    }
}

.main {
    &__pageUslugi {
        max-width: 1660px;
        margin: auto;
        @media (max-width: 1760px) {
            max-width: 1400px;
        }
        @media (max-width: 1441px) {
            max-width: 1200px;
        }
        @media (max-width: 1281px) {
            max-width: 1000px;
        }
        @media (max-width: 1025px) {
            max-width: 700px;
        }
        @media (max-width: 768px) {
            max-width: 480px;
        }
        @media (max-width: 510px) {
            max-width: 340px;
        }
        &--header {
            padding-bottom: 123px;
            padding-top: 190px;
            @media (max-width: 1760px) {
                padding-bottom: 123px;
                padding-top: 190px;
            }
            @media (max-width: 1441px) {
                padding-bottom: 103px;
                padding-top: 170px;
            }
            @media (max-width: 1281px) {
                padding-bottom: 93px;
                padding-top: 160px;
            }
            @media (max-width: 1025px) {
                padding-bottom: 83px;
                padding-top: 150px;
            }
            @media (max-width: 768px) {
                padding-bottom: 73px;
                padding-top: 120px;
            }
            @media (max-width: 510px) {
                padding-bottom: 60px;
                padding-top: 120px;
            }
            h1 {
                font-size: 80px;
                line-height: 70px;
                letter-spacing: -0.06em;
                text-transform: uppercase;
                color: #000000;

                @media (max-width: 1760px) {
                    font-size: 78px;
                    line-height: 42px;
                }
                @media (max-width: 1441px) {
                    font-size: 68px;
                    line-height: 42px;
                }
                @media (max-width: 1281px) {
                    font-size: 58px;
                    line-height: 42px;
                }
                @media (max-width: 1025px) {
                    font-size: 48px;
                    line-height: 42px;
                }
                @media (max-width: 768px) {
                    font-size: 38px;
                    line-height: 42px;
                }
                @media (max-width: 510px) {
                    font-size: 38px;
                    line-height: 42px;
                }
            }
        }
        &--block {
            &__grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 80px;

                @media (max-width: 1760px) {
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 60px;
                }
                @media (max-width: 1441px) {
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 40px;
                }
                @media (max-width: 1281px) {
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 20px;
                }
                @media (max-width: 1025px) {
                    grid-template-columns: 1fr 1fr;
                    gap: 40px;
                }
                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                    gap: 40px;
                }
                @media (max-width: 510px) {
                    grid-template-columns: 1fr;
                    gap: 40px;
                }
                div {
                    display: grid;
                    gap: 40px;

                    @media (max-width: 1760px) {
                        gap: 35px;
                    }
                    @media (max-width: 1441px) {
                        gap: 30px;
                    }
                    @media (max-width: 1281px) {
                        gap: 25px;
                    }
                    @media (max-width: 1025px) {
                        gap: 20px;
                    }
                    @media (max-width: 768px) {
                        gap: 30px;
                    }
                    @media (max-width: 510px) {
                        gap: 25px;
                    }
                    a {
                        font-size: 18px;
                        letter-spacing: -0.02em;
                        color: #000000;
                        text-decoration: none;
                        transition: 0.3s;
                        &:hover {
                            color: #009E4F;
                            font-width: bold;
                            transition: 0.3s;
                        }

                        @media (max-width: 1760px) {
                            font-size: 17px;
                        }
                        @media (max-width: 1441px) {
                            font-size: 16px;
                        }
                        @media (max-width: 1281px) {
                            font-size: 14px;
                        }
                        @media (max-width: 1025px) {
                            font-size: 12px;
                        }
                        @media (max-width: 768px) {
                            font-size: 13px;
                        }
                        @media (max-width: 510px) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    &__pageProgect {
        &--block {
            &__item {
                width: 100vw;
                height: 90vh;
                &--img {
                    width: 100vw;
                    height: 90vh;
                }
            }
        }
    }
}

#fullpage {
    transition-delay: 0.5s !important;
}


@media screen and (max-width: 1640px) {
    .minpage-slide-title,  .minpage-slide-title-smooth {
        font-size: 140px;
    }

    .minpage-slide-text-big {
        font-size: 24px;
        line-height: 26px;
    }

    .minpage-slide-text-medium {
        font-size: 18px;
        line-height: 20px;
    }

    .minpage-slide-text-small {
        font-size: 16px;
        line-height: 18px;
    }

    .slide1 .slide1-img1 {
        height: 100px;
    }

    .slide1 {
        .line1 h1 {
            line-height: 85px;
        }

        h1 {
            line-height: 145px;
        }

        .line3 {
            margin-top: -10px;
        }

        .line4 {

            .text h6 {
                text-indent: 210px;
                margin-top: -21px;
            }
        }
    }

    .slide2 {
        .minpage-slide-title {
            line-height: 160px;
        }
    }

    .slide3 {
        .line2 {
            margin-bottom: 50px;
        }

        .line3 {
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 1500px) {
    .slide3 {
        .text-column {
            width: 510px;
        }
        .inst-line .inst-element {
            width: 144px;
            height: 180px;
        }
    }
}


@media screen and (max-width: 1444px) {
    .minpage-slide-title,  .minpage-slide-title-smooth {
        font-size: 100px;
    }

    .slide1 {
        .line1 {
            h1 {
                line-height: 65px;
            }
        }

        .line3 .minpage-slide-text-small {
            margin-right: 150px;
        }

        .line4 .text {
            margin-left: 597px;
        }

        h1 {
            line-height: 105px;
        }

        .slide1-img1 {
            height: 73px;
        }
    }
}

//MOBILE

@media screen and (max-width: 1024px) {
    header {
        padding: 10px 15px;

        nav {
            position: fixed;
            top: -100vh;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background: #009E4F;

            overflow-y: auto;

            a {
                font-size: 32px;
                line-height: 1;

                text-align: center;
                text-transform: uppercase;

                color: #FFFFFF;
            }
        }

        .mobile-header-elements {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .hamburger {
            font: inherit;
            display: inline-block;
            overflow: visible;
            margin: 0;
            cursor: pointer;
            transition-timing-function: linear;
            transition-duration: .15s;
            transition-property: opacity,filter;
            text-transform: none;
            color: inherit;
            border: 0;
            background-color: transparent;
        }

        .hamburger-box {
            position: relative;
            display: inline-block;
            width: 36px;
            height: 16px;
        }

        .hamburger--squeeze.is-active .hamburger-inner {
            transition-delay: .12s;
            transition-timing-function: cubic-bezier(.215,.61,.355,1);
            transform: rotate(45deg);

            background-color: #fff;
        }

        .hamburger--squeeze .hamburger-inner {
            transition-timing-function: cubic-bezier(.55,.055,.675,.19);
            transition-duration: 75ms;

            transition: background-color .15s ease;
        }

        .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
            position: absolute;
            width: 36px;
            height: 4px;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: background-color;
            background-color: #121614;
        }

        .hamburger-inner {
            top: 50%;
            display: block;
            margin-top: -5px;
        }

        .hamburger-inner:after, .hamburger-inner:before {
            display: block;
            content: "";
        }

        .hamburger-inner:before {
            display: none;
            top: -10px;
        }

        .hamburger-inner:after {
            bottom: -8px;
        }

        .hamburger--squeeze.is-active .hamburger-inner:after {
            bottom: 0;
            transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
            transform: rotate(-90deg);

            background-color: #fff;
        }

        .hamburger--squeeze.is-active .hamburger-inner:before {
            top: 0;
            transition: top 75ms ease,opacity 75ms ease .12s;
            opacity: 0;
        }
    }

    footer {
        display: none;
    }

    .line {
        padding: 0 15px !important;
    }

    .minpage-slide-title, .minpage-slide-title-smooth {
        font-size: 38px;
        line-height: 46px;
    }

    .minpage-slide-text-small {
        font-size: 13px;
        line-height: 16px;
    }

    .slide1 {
        h1 {
            line-height: 46px;
        }

        .slide1-img1 {
            display: none;
        }

        .line1 {
            margin-bottom: 0;

            h1 {
                line-height: 46px;
            }

            h4 {
                display: none;
            }
        }

        .slide1-img2 {
            width: 100vw;
        }

        .line2 {
            margin: 0;
        }

        .line3 {
            margin: 0;
            .minpage-slide-text-small {
                display: none;
            }
        }

        .line4 {
            margin-bottom: 64vw;
            margin-top: 20px;

            .text {
                margin: 0;

                * {
                    font-size: 13px;
                    line-height: 16px;
                    text-transform: none;
                }

                h6 {
                    text-indent: 0;
                    margin: 0;
                }
            }
        }
    }

    .slide2 {
        .slide2-img {
            top: auto;
            bottom: 0;
            width: 100%;
        }

        .minpage-slide-title, .minpage-slide-title-smooth {
            line-height: 50px;
        }

        .line2, .line3 {
            justify-content: flex-start;
        }

        .line3 {
            margin-bottom: 62vw;
        }

        .line1 p {
            max-width: none;
            margin-bottom: 10px;
        }
    }

    .slide3 {
        h1 {
            line-height: 50px;
        }

        .line {
            justify-content: flex-start;
        }

        .slide3-img {
            top: auto;
            bottom: 0;
            width: 100%;
        }

        .line2 {
            margin-bottom: 20px;

            h1 {
                margin-left: 0;
            }
        }

        .line3 {
            flex-direction: column;

            p {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 10px;
            }
        }

        .line4 {
            flex-direction: column;
        }

        .text-column {
            width: auto;
            
        }
    }

    .slide4 {
        &-container {
            flex-direction: column;
        }

        &-content {
            padding: 60px 15px 0;
            width: 100%;
        }

        &-title {
            font-size: 38px;
            line-height: 42px;
            margin-bottom: 20px;
        }

        &-text {
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 35px;
            max-width: none;
        }

        &-map {
            width: 100%;
            height: 410px;
        }
    }
}